<h1>
    Create user
</h1>
<div style="padding-left: 5%;">
    <form action="/user/add" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" placeholder="John" ><br><br>

        <label>First Name:</label><br>
        <input type="text" name="firstName" placeholder="Williams"><br><br>

        <label>Last Namne:</label><br>
        <input type="text" name="lastName" placeholder="Smith"><br><br>

        <label>Email:</label><br>
        <input type="text" name="email" placeholder="john@gmail.com"><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" placeholder="Password"><br><br>

        <label>Status:</label><br>
        <input type="text" name="status" placeholder="0"><br><br>

        <button>
            Submit
        </button>
    </form>
</div>